<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dingmouren.camerafilter" >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal"/>
    <application>
        <activity android:name=".FilterImageActivity"
            android:theme="@style/AppTheme.StatusTranslate"
            android:screenOrientation="portrait"
            />
        <activity android:name=".FilterCameraActivity"
            android:theme="@style/AppTheme.StatusTranslate"
            android:screenOrientation="portrait"
            />
    </application>
</manifest>
